{% extends 'base.html.twig' %}

{% block title %}Rencontre: {{ enemy.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/encounter_choice.css') }}">
{% endblock %}

{% block body %}
 <div class="game-page-background" style="--blurred-bg-image: url('{{ asset('images/location_scenes/' ~ location.id ~ '.png') }}');"></div>


    <div class="encounter-container">
        <div class="encounter-panel">
            <h1>Un {{ enemy.name }} apparaît !</h1>
            
            <div class="enemy-details">
                {# Assurez-vous d'avoir des images pour vos ennemis #}
                <img src="{{ asset('images/enemies/' ~ enemy.name|lower ~ '.png') }}" alt="{{ enemy.name }}" class="enemy-portrait">
                
                <p class="enemy-stats">
                    <strong>PV:</strong> {{ enemy.hp }} <br>
                    <strong>Attaque:</strong> {{ enemy.attack }} <br>
                    <strong>Défense:</strong> {{ enemy.defense }} <br>
                    <strong>Récompense (XP/Or):</strong> {{ enemy.xpReward }} XP / {{ enemy.goldReward }} Or
                </p>
                <p>{{ enemy.description }}</p>
            </div>
            
            <h2>Que faites-vous ?</h2>
            
            <div class="action-buttons">
                {# Bouton ATTAQUER: Lance le combat réel, en redirigeant vers CombatController::combat #}
                <a href="{{ path('combat_start') }}" class="action-button attack-button">
                    Attaquer ! ⚔️
                </a>
                
                {# Bouton FUIR: Retourne au lieu d'exploration. Nous allons l'implémenter après #}
                <a href="{{ path('game_location_show', {'id': locationId}) }}" class="action-button flee-button">
                    Fuir 🏃 (Risqué)
                </a>
            </div>
            
            <p class="tip">Fuir peut vous faire perdre votre chemin ou subir une attaque d'opportunité (non implémenté).</p>
        </div>
    </div>
{% endblock %}