{# templates/game/explore.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/explore.css') }}">
{% endblock %}

{% block body %}
   
    <div class="world-map-background"></div> 

    {% for loc in locations %}
        <div
            class="map-marker"
            data-id="{{ loc.id }}"
            data-name="{{ loc.name }}"
            data-description="{{ loc.description }}"
            data-danger="{{ loc.dangerLevel }}"
            style="left: {{ loc.x }}%; top: {{ loc.y }}%;"
        ></div>
    {% endfor %}

    {# L'infobulle #}
    <div id="location-infobox" class="location-infobox-popup hidden">
        <h3 id="infobox-name"></h3>
        <p id="infobox-description"></p>
        <p id="infobox-danger"></p>
        <a href="#" id="explore-link" class="button-explore">Explorer ce lieu</a>
        <button id="infobox-close-button" class="close-button">X</button>
    </div>
    <a href="{{ path('choose_hero') }}" class="button-return-to-hero">
        Retour au choix du héros
    </a>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('explore') }}
{% endblock %}